
.cal{
    width: 320px;
    margin: 100px auto;
  
  }
  
  #answer{
    background-color: rgb(230, 223, 215);
    padding: 10px;
    font-size: 35px;
    width: 295px;
    height: 45px;
    text-align: right;
    border: 3px solid rgb(44, 33, 55);    
  }
  
  .button{
    background-color: rgb(3, 3, 3);
    height: 80px;
    width: 80px;
    color: white;
    font-size: 30px;
    border: 1px solid rgb(98, 79, 79);
    float: left;
  }
  
  .button1{
    background-color: rgb(8, 8, 8);
    height: 80px;
    width: 160px;
    color: white;
    font-size: 30px;
    border: 1px solid rgb(98, 79, 79);
  }